{{template "partials/header" .}}

<!-- <h1>Shopping Cart</h1>
<p>Product List</p>
{{range .Products}}
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <a href="/products/detail/{{.Id}}" class="card-title">{{.Name}}</a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">Product Id: {{.Id}}
            </h6>
            <p class="card-text">Price: {{.Price}}
            </p>
        </div>
    </div>
</div>
<br>
{{end}}
<br> -->



<h1 class="my-3">Keranjang Belanja</h1>

<div class="border border-secondary rounded my-3">
    <h4 class="text-center my-3">List Produk</h4>
    <div class="container">
        {{range .Products}}
            <div class="d-flex flex-row rounded my-3 hov">
                <div class="d-flex align-items-center justify-content-center">
                    <div style="width: 7rem;">
                        <img src="/{{.Image}}"  class="card-img-top" alt="{{.Name}}">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="p-2 ">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Nama Produk</th>
                                    <td>:</td>
                                    <td><a href="/products/detail/{{.Id}}" class="card-title">{{.Name}}</a></td>
                                </tr>
                                <tr>
                                    <th>Toko</th>
                                    <td>:</td>
                                    <td>{{.Shop}}</td>
                                </tr>
                                <tr>
                                    <th>Harga Produk</th>
                                    <td>:</td>
                                    <td>$ {{.Price}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                </div>
            </div>
        {{end}}
    </div>
</div>

<div>
    <a href="/checkout/{{.UserId}}" class="btn btn-primary">Checkout</a>
</div>

{{template "partials/footer" .}}